<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load i18n %}
<html lang="en">
<head>

    <title>Divers registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Drivers registration</h1>
            <form method="POST">
                {% csrf_token %}

                {% if request.user.is_authenticated %}
                    {{ form | crispy }}
                {% else %}
                    {{ form | crispy }}
                    {{ userForm | crispy }}
                {% endif %}
                <input type="submit" value="Submit" class="btn btn-success">
            </form>
        </div>
    </div>
</body>
</html>